<center>
<h1>Greetings</h1>
<p>This is random data generator service. Need something like that? Feel free to use it after paying me $200 for a full license.</p>

<br><br>
<p>Just kidding, it is free. </p>
<br><br><br>

<p>Contact me at christian.fsampaio@gmail if you need some attention, my HTML skills are insane</p>

</center>