<center>
<h1>Greetings</h1>
<p>This is a random data generator service. Need something like that? Feel free to use it after paying me $200 for a full license.</p>

<br><br>
<p>Just kidding, it is free. </p>
<br><br><br>

<h2>Usage</h2>
	<b>GET</b> <a href='http://random-data.herokuapp.com/generate/50'> http://random-data.herokuapp.com/generate/<b>50</b> </a>
	<br><br>
	<p>That will generate <b>50</b> random people data, not real data of course. Pretty slick huh?</p>
	<br><br>
	<br><br>
	<br><br>

<p>Contact me at christian.fsampaio@gmail if you need some attention, my HTML skills are insane.</p>

</center>